@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body
  }
}

.bg-art {
  background: url(/public/bg-img.jpg) no-repeat center /cover;
}

.ant-form-item-label > label {
  font-size: 15px !important;
  font-weight:700
}
 .ant-form-item-required-mark-optional  .ant-form-item-optional {
  display:none !important
}
.ant-form-item {
  margin-right: 0 !important
}
.ant-btn-primary {
  background-color: blue;
}